{% extends 'core/base.html' %}
{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>Digite sua Nova Senha</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar Nova Senha</button>
            </form>
        {% else %}
            <p>O link para redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição.</p>
        {% endif %}
    </div>
</div>
{% endblock %}