{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'core/css/form.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{ titulo|default:"Confirmar Exclusão" }}</h2>

        <p class="confirmation-text">
            Você tem certeza que deseja excluir permanentemente o item abaixo?
            <br>
            <strong>"{{ item }}"</strong>
        </p>

        <form method="post">
            {% csrf_token %}
            
            <button type="submit" class="btn-form btn-danger">Sim, Excluir</button>
            
            <a href="{{ request.META.HTTP_REFERER|default_if_none:request.user.get_absolute_url }}" class="btn-secondary-link">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}