{% extends 'core/base.html' %}
{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>LOGIN</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <button type="submit">Acessar</button>
        </form>
        <a href="{% url 'password_reset' %}" class="forgot-password">Esqueci minha senha</a>
        <p style="margin-top: 1rem;">Não tem uma conta? <a href="{% url 'registro' %}">Cadastre-se</a></p>
    </div>
</div>
{% endblock %}
